.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {

  background: url('/src/images/doctors-in-germany-1920x1080.jpg') no-repeat fixed;  
  background-size: cover; 

}

.main-box.no-header {
  padding-top: 20px;
}

.main-box {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table a.table-link.danger {
  color: #e74c3c;
}

.label {
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;
}
.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}
.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
}
a {
  color: #3498db;
  outline: none!important;
}
.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.table thead tr th {
  text-transform: uppercase;
  font-size: 0.875em;
}
.table thead tr th {
  border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
  font-size: 1.125em;
  font-weight: 300;
}
.table tbody tr td {
  font-size: 0.875em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 12px 8px;
}
a:hover{
text-decoration:none;
}

.footer {

  position: absolute;
  bottom: 0;
  width:100%;
  height: 2.5rem;;
  background-color: #0D6EFD;
  text-align: center; 

}

.page {

    position: relative;
    min-height: 110vh;

}

.containerD {

    width: 100%;
    padding-right: var(--bs-gutter-x,5.0rem); 
    padding-left: var(--bs-gutter-x,.75rem);
    padding-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    min-width: 1500px;
    max-width: 1600px;

}

.backgroundTab {

  background-color: #31347a;

}

.tabSpaces {

  width: 20rem;

}

.footerSpace {

  width: 180px;
  height: 40px;
 
}

.data_chart_background_with_container {

  /* width: 1000px;
  height: auto; */
  /* padding: 0 10px 10px 10px; */
  background-color:#FFFFFF;
  border-style: outset;
  border-width: 10px;
  border-color: #31347a;
  /* margin: 40px 0 0 100px; */
  /* margin: 100% 50px 75vh 100px; */
  /* min-width: 576px;
  max-width: 1320px; */
  
}

.map_container {
  
  width: 40vh;
  height: 40vh;
  padding: 25px 50px 75px 100px;
  margin-left: 160vh;
  margin-bottom: 50vh;
  /* pointer-events: none; 
  border-style: inset;
  border-width: 10px;
  border-color: #31347a; */

}

.grid_panner {

  padding-left: 100px;
  padding-top: 100px;
  
}


.lea-container {

  width: 40vh;
  height: 40vh;
  border: 10px inset #31347a;
  margin: 114px 0 0 300px;
  
}  

.container {

  /* width: 30vh;
  height: 30vh; */
  min-width: 500px;
  max-width: 1600px;
  box-sizing: border-box;

}

.video-responsive {

  overflow: hidden;
  padding-bottom: 35.25%;
  position: relative;
  height: 0;

}

.video-responsive iframe {

  width: 853px;
  height: 480px;
  position: absolute;
  border: 10px solid #31347a;
  margin-left: 320px;

}

.video-positioner {

 margin-top: 50px;
 margin-left: 215px;

}

.new_tag {

  background: red;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  height: min-content;
  padding: 0 6px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

}

.header_width {

  width: 100%;
  min-width: 500px;
  max-width: 1900px;
  box-sizing: border-box;

}